@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    background-color: black;
}
a {
    text-decoration: none;
}
.wrapper{
    background: linear-gradient(180deg, rgba(89,4,88,1) 14%, rgba(0,0,0,1) 63%);
    width: 100%;
}

.container{
    width: 1350px;
    margin: 0 auto;
}

header {
    padding: 50px 0;
}

header .logo,
footer .blocks .logo{
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}

header nav {
    float: right;
    width: 50%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
}
header nav ul li{
    display: inline-block;
}
header nav ul li a {
    color: #fff;
} 
header nav ul li:not(.active):not(.btn) a:hover{
    border-bottom: 5px solid #DC7000;
    border-radius: 5px;
}
header nav ul li.btn a, .email .block button{
    background: #fa0505;
    padding: 9px 17px ;
    border-radius: 5px  ;
    transition: all 500ms ease;
}
header nav ul li.btn a:hover, .email .block button:hover {
    background: #a02604;
}
.hero{
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
}
.hero img{
    position: absolute;
    top: -300px;
    right: -200px;
    width: 1200px;
    height: auto;
}
.hero--info{
    width: 520px;
    padding-top: 30px;
}
.hero--info h2 {
    color: #fa0505;
    font-size: 30px;
    font-weight: 600;
}
.hero--info h1 {
    font-size: 60px;
    font-weight: 600;
}
.hero--info p {
    font-weight: 500;
    line-height: 170%;
    margin: 30px 0; 
    font-size: 20px;
}
.trending{
    padding-top: 50px;
}
.trending h3{
    font-weight: 600;
    font-size: 31px;
    text-align: center;
}
.trending .magazines{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0;
}
.trending .magazines img{
    width: 200px;
    height: auto;
}
.trending .magazines p {
    display: block;
    text-align: center;
    margin-top: 20px;
}
.banner {
    padding: 80px 0;
}
.banner h3{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}
.banner p {
    line-height: 170%;
    margin-bottom: 30px;
    width: 520px;
}
.banner img{
    position: relative;
    border-radius: 20px;
    justify-content: space-between;
    top: 4px;
    margin-right: 7px;
    width: 300px;
    height: auto;
    right: -250px;
    margin-right: 20px;
    opacity: 0.7;
    transition: all 500ms ease;
}
.banner img:hover{
    transform: scale(1.1);
    opacity: 1;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
    color: #fff;
}
.box{
    max-width: 600px;
}
.box h1{
    font-size: 50px;
}
.box p{
    font-size: 1.2em;
}
.box h3{
    font-size: 25px;
}
iframe{
    border-radius: 2em;
    width: 500px;
    height: 300px;
    opacity: 0.7;
    transition: all 500ms ease;
    margin-bottom:20px;
}
iframe:hover{
    transform: scale(1.1);
    opacity: 1;
}
